#container {
margin-left: 40%;
margin-right: 40%;
margin-top: 10%
}

#login-form{
    border: solid grey 5px;
    text-align: center;
    padding: 10%;
}

.input-value {
    margin: 5%;
}

.hide {
    display: none;
}

#registerUser{
    margin-top: 20px;
}

#register{
    background: lightsalmon;
    border-radius: 20%;
    width: 100px;
}