html {
  min-height: 100%;
}

/* hide sign in buttons */
.hidden {
  visibility: hidden;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;
  height: 100%;
}

body {
  background: url("../Images/homepagebackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

th {
  background: white;
  text-align: center;
}

table,
th {
  margin-top: 10px;
  text-align: center;
}

.row .col.s6 {
  width: 50%;
  margin-left: auto;
  left: auto;
  right: auto;
  background: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  border-radius: 2px;
  max-height: 120vh;
  margin-bottom: auto;
}

img {
  border-style: none;
  max-height: 73px;
}

td,
th {
  padding: 15px 5px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 2px;
  background: black;
  color: white;
}

#breakfast,
#lunch,
#dinner,
#snack {
  background: white;
  margin: auto;
}

#recipeList {
  margin-top: 10px;
}

.input-field > label {
  color: black;
}

#recipeContent {
  margin-bottom: 10px;
}

.textcenter {
  text-align: center;
  text-transform: uppercase;
}

.sass-container {
  /* margin-left: auto;
  margin-right: auto; */
  background-color: white;
  padding: 10px;
  width: 80%;
  margin: auto;

}

#register-form {
padding: 5%;
margin: 10%;
margin-left: 15%;
margin-right: 15%;
background: white;
border-radius: 10px;
}

#login-form {
  padding: 5%;
  margin: 10%;
  margin-left: 15%;
  margin-right: 15%;
  background: white;
}

.profile-content {
  padding: 5%;
  margin: 10%;
  margin-left: 15%;
  border: solid white 5px;
  margin-right: 15%;
  background: white;
  align-content: center;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
}


#profile-picture {
  margin-left: 10%;
}
#uploadImg {
  margin-left: 30%;
}

.profile-overview{
  text-align: left;
  font-size: 30px;
  border-bottom:#ec6f75 solid 10px;
}

#intro {
  font-family: 'Anton', sans-serif;
}

#intro-email {
  font-family: 'Anton', sans-serif;
}
#intro-diet {
  font-family: 'Anton', sans-serif;
}

#intro-allergy {
  font-family: 'Anton', sans-serif;
}


/* change mouseover from cursor to pointer for all anchor tags */
a, li, p {
  cursor: pointer;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

